<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <%- include('../layout/header') %>
  <% books.forEach(book => { %>
  <%- include('../book/details', {book: book}) %>
  <% }) %>
</body>
</html>