<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Example</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <header>Best Books!</header>
  <form action="/searches/" method="POST">
    <fieldset>
      <legend>Search By
        <br>    
        <label for="title">Title</label>
        <input id= "title" type="radio" value = "title" name="search_query">
        <label for="author">Author</label>
        <input id= "author" type="radio" value = "author" name="search_query"> 

  <div class="flexboxBody">
   <header><h1>Best Books!</h1></header>
    <form action="/searches" method="POST">
      <fieldset>
        <legend>Search By
          <br>    
          <label for="title">Title</label>
          <input id= "title" type="radio" value = "title" name="search_query">
          <label for="author">Author</label>
          <input id= "author" type="radio" value = "author" name="search_query"> 

        </legend>
        <label> 
          <input type="text" name = "title1" placeholder="Search..." name= "title1">
        </label>
        <br>
        <button>Search the Google Books API</button>
      </fieldset>
    </form>    
  </div>
</body>

</html>



