<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Example</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>

<body>
  <form action="/searches/new" method="GET">
    <fieldset>
      <legend>Search By Title or Author</legend>
      <label> Type:
        <input type='text' placeholder="Search By.." name='title1'>
      </label>

      <label for="title">Title</label>
      <input type="radio" name="authorOrTitle">
      <label for="Author">Author</label>
      <input type="radio" Name="authorOrTitle">
      <br>
      <button>Submit</button>
    </fieldset>
  </form>

</body>

</html>