<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <header><h1>Best Books!</h1></header>
  <%bookSearch.forEach(book =>{ %>
    <div class="searchedFlex">
      <h2><%=book.title%></h2>
      <li><%=book.author%></li>
      <img src="<%= book.image_url%>">
      <p><%=book.description%></p>
    </div>
  <% }) %>
</body>


</html>