<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1>Error Message</h1>
    <p>Aw Snap, something isn't right!!</p>
</body>

</html>