<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>books app</title>
  <link rel="stylesheet" href="/styles/style.css">

</head>

<body>
  <header><a href="/">Best Books!</a></header>
  <section>
    <div><%=results.length %></div>
    <ul>
      <% results.forEach(book => { %>
      <li>
        <h2>book: <%= book.title %></h2>
        <h3>book: <%= book.author %></h3>
        <p>book: <%= book.image_url %></p>
      </li>
      <% }) %>
    </ul>
  </section>

</body>

</html>